body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

* {
  font-weight: lighter;
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px;
}

/* Tag Styles */
img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

section {
  max-width: 720px;
  margin: 0 auto;
  padding: 64px 16px;
}

/* Id Styles */
#main-section {
  background-color: #242424;
  color: white;
}

/* Class Styles */
.about {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: left;
  padding: 96px 16px;
  max-width: 720px;
  margin: 0 auto;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resume-btn {
  color: black;
  text-decoration: none;
  background-color: #3498db;
  padding: 10px;
  align-self: flex-start;
  border-radius: 10px;
}
#resume-btn:hover{
  background-color: #2980b9;
}
@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }
}

.about-info p {
  margin-top: -10px;
}

.about-info h3 {
  margin-top: -10px;
}

/* Multi selectors */
#sub-section>table {
  margin: 0 auto;
  padding: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #cecece;
}

/* Contact Section Styles */
#contact {
  text-align: center;
}

#contact>div {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  outline-color: green;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

/* List Styles */

#list>div {
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

ol {
  list-style-type: lower-alpha;
}
footer{
  text-align: center;
  padding: 12px 0;
  background-color: #333;
  color: white;
}